# ==========================================
# Terraform
# ==========================================
# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Local provider/module directories
.terraform/
.terraform.lock.hcl

# Terraform crash logs
crash.log
crash.*.log

# Terraform variables (often contain secrets)
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ==========================================
# Python
# ==========================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
.cache
nosetests.xml
coverage.xml
*,cover
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# ==========================================
# General & Environment
# ==========================================
# Local environment variables
.env
.envrc
.python-version

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db

sync/data/*
